doctype html
html(lang="en")
  head
  
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    .container
      h1 Plants Table
      a.button-link(href="/update-cobj") Add to this table

      if plants && plants.length
        table
          thead
            tr
              th Name
              th Species
              th Sunlight
          tbody
            each plant in plants
              tr
                td= plant.properties.name || ""
                td= plant.properties.species || ""
                td= plant.properties.sunlight || ""
      else
        p No plant records found.